<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Admin - Produtos</title>
<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 p-10">

<h1 class="text-3xl font-bold mb-8">Cadastrar Produto</h1>

<form action="/salvar-produto" method="POST" class="bg-white p-6 rounded shadow max-w-xl" enctype="multipart/form-data">

<div class="mb-4">
<label class="block mb-1">Título</label>
<input name="titulo" class="w-full border p-2 rounded">
</div>

<div class="mb-4">
<label class="block mb-1">Subtítulo</label>
<input name="subtitulo" class="w-full border p-2 rounded">
</div>

<div class="mb-4">
<label class="block mb-1">Valor</label>
<input name="valor" class="w-full border p-2 rounded">
</div>

<div class="mb-4">
<label class="block mb-1">Descrição</label>
<textarea name="descricao" class="w-full border p-2 rounded"></textarea>
</div>

<div class="mb-4">
  <label class="block mb-1">Imagem</label>
  <input 
    type="file" 
    name="imagem" 
    id="imagem"
    accept="image/*"
    class="w-full border p-2 rounded">
</div>

<img id="preview" class="mt-4 max-h-48 rounded shadow hidden">

<button class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
Salvar Produto
</button>

</form>

<script>
const inputImagem = document.getElementById("imagem");
const preview = document.getElementById("preview");

inputImagem.addEventListener("change", function(){

  const file = this.files[0];

  if(file){
    const reader = new FileReader();

    reader.onload = function(e){
      preview.src = e.target.result;
      preview.classList.remove("hidden");
    }

    reader.readAsDataURL(file);
  }

});
</script>


</body>
</html>
